.ProductPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  padding: 1rem;
}
.ProductPage .images img {
  max-width: 300px;
  border: 2px solid black;
  border-radius: 10%;
  transition: 1s;
  margin: 1rem;
  width: 100;
}
.ProductPage .images img:hover {
  transform: scale(.9);
  transition: 1s;
}
.ProductPage .image {
  width: 300px;
  border: 2px solid black;
  border-radius: 10%;
  transition: 1s;
  margin: 1rem;
}
.ProductPage .image:hover {
  transform: scale(.9);
  transition: 1s;
}
.ProductPage .images {
  width: 700px;
}
.ProductPage .section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 2rem;
  max-width: 300px;
  width: 100%;
}
.ProductPage .buttons {
  display: flex;
  gap: 20px;
}
.ProductPage .svg {
  border: 2px solid black;
  border-radius: 20%;
  padding: 0 5px;
}
.ProductPage .svg:hover {
  background-color: #6c5454;
  transition: 1s;
}
@media (max-width: 600px) {
  .ProductPage .images img {
    display: none;
  }
  .ProductPage .images .image {
    display: block;
    margin: 0;
  }
}