.CartList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2px;
}
.CartList .buttons {
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.CartList .buttons:hover {
    background-color: #6c5454;
    border-radius: 5px;
    color: #ededed; 
    transition: color .3s ease;
  }
.CartList .a {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.164);
  padding: 5px;
  border-radius: 5px;
}

 .prices {
  color: white;
}