.ProductItem .img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 350px;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  overflow: hidden;
  transition: 1s;
}



.ProductItem {
  position: relative;
  flex: 0 0 350px;
  margin-bottom: 7rem;


}

.ProductItem .title {
  flex: 0 0 350px;
  position: absolute;
  bottom: -4.4rem;
  left: 1rem;
  right: 1rem;
  z-index: 1;

  color: rgb(236, 236, 236);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1.3rem 2rem;
  text-align: center;
  text-decoration: none;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  font-size: 1.2rem;
  font-weight: bold;
}
.ProductItem img:hover {
  transform: scale(.9);
  transition: 1s;
}
/* .ProductItem .img:hover {
  opacity: 0;
  
} */
/* .ProductItem .hoverImage:hover {
  background-image: url("../../../assets/menCategory.jpg");
} */
.ProductItem .price {
  display: flex;
  flex: 0 0 350px;
  
  position: absolute;
  top: -1.5rem;
  z-index: 3;

  background-color: rgb(250, 250, 250);
  color: rgb(8, 0, 0);
  padding: 1rem;
  text-align: center;
  border-radius: 30%;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}




