.Header {
  min-height: 65vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* background-position: center;
  background-size: cover; */
}
.Header h1 {
  padding: 0 0 0 2rem;
  font-size: 3rem;
  color: rgb(255, 248, 248);
}
.first {
  padding-left: 10px;
}
.second {
  padding-left: 70px;
}
.third {
  padding-left: 120px;
}
.lg {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
img {
  width: 300px;
}