.Footer {
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: bisque;
    padding: 3rem;
}