.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  font-family: 'Lateef', cursive;
  font-family: 'Lekton', sans-serif;
  padding: 0 2.5rem 0 0;
}
.Nav ul {
  display: flex;
  list-style: none;
}